/* تنسيقات الهيكل العام */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #03d6e6;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

footer {
    background-color: #15d6c6;
    padding: 10px;
    text-align: center;
}


body {
    font-family: 'Cairo', sans-serif;
    font-weight: 400; /* سمك الخط المستخدم */
}

